@inject IViewLocalizer localizer
 @model List<CustomerDto> 

<div class="table-responsive m-1">
<table class="table table-dark ">
    
  <thead> 
      <th>@localizer["Name"]</th>

        <th>@localizer["Address"]</th>
        <th>@localizer["Email"]</th>
    
        <th>@localizer["Mobile Number"]</th>
        <th>@localizer["Restore"]</th>
         
  </thead>
  <tbody>
      @foreach(var itm in Model){
    <tr class="table-active">
    <td>@itm.FullName</td>
  
      <td>@itm.Address</td>
      <td>@itm.Email</td>
     
      <td>@itm.MobileNumber</td>
                    <td><a class="btn text-white" style="background-color:#0d6efd" asp-controller="Customer" asp-action="Restore" asp-route-ID="@itm.ID">@localizer["Restore"]</a></td>
                   
           

     </tr>
     }
    
  </tbody>
</table>
<div/>