 @using X.PagedList
@using X.PagedList.Web.Common
@inject IViewLocalizer localizer
@model IPagedList<ProductDto>


<div class="container-fluid">
    <div class="row">
 
                    <div class="table-responsive">
                       
                        <table class="table table-dark">

                            <thead>
                            <th>@localizer["Name Arabic"]</th>
                            <th>@localizer["Name English"]</th>
                <th>@localizer["Restore"]</th>
                         

                            </thead>
                            <tbody>
                                @foreach (var itm in Model.ToList<ProductDto>())
                                {
                                    <tr class="table-active">
                                        <td>@itm.NameAR</td>
                                        <td>@itm.NameEN</td>
                            <td> <a class="btn text-white" asp-controller="Product" asp-action="Restore" asp-route-pro="@itm.ID" style="background-color:#0d6efd">@localizer["Restore"]</a></td>
                                          
                              
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="col-12 m-2">
                    @Html.PagedListPager(Model, pageIndex => Url.Action("GetAllDeleted", new { pageIndex  }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                    new PagedListRenderOptions()
                    {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },

                    MaximumPageNumbersToDisplay=5
                    },

                    new AjaxOptions()
                    {
                    HttpMethod ="post",
                    UpdateTargetId="GetAll"
                    }
                    ))
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    </div>



