@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@inject SignInManager<Customer> UserManager;

@if (UserManager.IsSignedIn(User) == true && User.IsInRole("Admin"))
{
    
    <div  class="sidebar pe-4 pb-3 ">
        <nav class="navbar bg-light navbar-light ">
            <a asp-controller="Home" asp-action="index" class="navbar-brand mx-4 mb-3">
                <h3 style="color:#0d6efd">B-TECH</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">

                    <div class="ms-3">
                        <h6 class="mb-0">Admin</h6>
                    </div>
                </div>
            <div class="navbar-nav w-100">
                <div class="nav-item dropdown">

                    @*Category Options*@
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-tags-fill me-2"></i>@localizer["Categories"]</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a asp-controller="Category" asp-action="Add" class="nav-item nav-link"><i class="bi bi-plus-circle-fill me-2"></i>@localizer["Add New Category"]</a>
                            <a asp-controller="Category" asp-action="GetAllCategories" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>@localizer["View All Category"]</a>
                            <a asp-controller="Category" asp-action="GetAllDeletedCategories" class="nav-item nav-link"><i class="bi bi-x-circle-fill me-2"></i>@localizer["Deleted Category"]</a>

                      </div>
                    </div>
                        @*Product Options*@
                        <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-diagram-3-fill me-2"></i>@localizer["Products"]</a>
                            <div class="dropdown-menu bg-transparent border-0">
                            <a asp-controller="Product" asp-action="Add" style="font-size:.9rem;" class="nav-item nav-link "><i class="bi bi-plus-circle-fill me-2"></i>@localizer["Add New Product"]</a>
                            <a asp-controller="Product" asp-action="GetAll" style="font-size:.9rem;" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>@localizer["View All Products"]</a>
                            <a asp-controller="Product" asp-action="AddProductImages" style="font-size:.95rem;" class="nav-item nav-link"><i class="bi bi-image-fill me-2"></i>@localizer["Add New Images"]</a>
                            <a asp-controller="Product" asp-action="GetAllDeleted" style="font-size:.95rem;" class="nav-item nav-link"><i class="bi bi-x-circle-fill me-2"></i>@localizer["Deleted Products"]</a>
                            </div>
                        </div>
                            @*Order Options*@
                        <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-cart-fill me-2"></i>@localizer["Orders"]</a>
                            <div class="dropdown-menu bg-transparent border-0">
                            <a asp-controller="Order" asp-action="GetAllOrders" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>@localizer["View All Orders"]</a>
                            <a asp-controller="Order" asp-action="GetAllPendingOrder" class="nav-item nav-link"><i class="bi bi-arrow-up-circle-fill me-2"></i>@localizer["Pending Orders"]</a>
                            <a asp-controller="Order" asp-action="GetAllDeliveredOrder" class="nav-item nav-link"><i class="bi bi-cart-check-fill me-2"></i>@localizer["Delivered Orders"]</a>
                            </div>
                        </div>
                    @*Customer Options*@
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-person-check-fill me-2"></i>@localizer["Customers"]</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a class="nav-item nav-link" asp-controller="Customer" asp-action="GetAllUser"> <i class="fa fa-chart-bar me-2"></i>@localizer["View All Users"]</a>
                            <a asp-controller="Customer" asp-action="GetAllUserDeleted" class="nav-item nav-link"><i class="bi bi-person-x-fill me-2"></i>@localizer["Deleted Users"]</a>
                        </div>
                    </div>

                    @*User Option*@
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-people-fill me-2"></i>@localizer["Users"]</a>
                        <div class="dropdown-menu bg-transparent border-0">
                             
                            <a asp-controller="User" asp-action="SignUp" class="nav-item nav-link"><i class="bi bi-person-plus-fill me-2"></i>@localizer["Add User"]</a>
                            <a asp-controller="Role" asp-action="Add" class="nav-item nav-link"><i class="bi bi-asterisk me-2"></i>@localizer["Add Role"]</a>

                        </div>
                    </div>
                 </div>
             </div>
          </nav>
    </div>}


<!-- Sidebar End -->